section {
  margin: 0 0 100px;
}
section h1 {
  margin: 0;
  padding: 60px 0;
  font-size: 4em;
  text-align: center;
  letter-spacing: 2px;
  color: #F28FC5;
  text-shadow: 0px 1px 1px #8F8F8F;
}
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 2px 0;
}
body {
  padding: 0;
}
.modal-open {
  overflow: auto;
}
#navbar {
  border-radius: 0;
}
.nav li {
  margin: 2px 0;
  background-color: #585759;
  text-align: center;
}
.nav li:hover {
  background-color: #F28FC5;
}
.navbar-inverse .navbar-nav > li > a {
  color: #fff;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  text-shadow: 0px 2px 2px #000000;
  letter-spacing: 2px;
  font-size: 1.3em;
}
.navbar-inverse .navbar-nav > li > a:hover {
  background-color: #F28FC5;
  border-left: 1px solid #F3BCDF;
  border-right: 1px solid #8E416B;
}
.navbar-toggle {
  float: left;
  margin-left: 15px;
  border: 0;
  border-radius: 0;
  color: #FFF;
}
.navbar-toggle::before,
.navbar-toggle::after {
  position: absolute;
  width: 100%;
  left: 0;
  top: 50%;
  height: 2px;
  margin-top: -1px;
  background: #FFF;
  content: '';
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  -moz-transition: -moz-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  pointer-events: none;
}
.navbar-toggle::before:hover,
.navbar-toggle::after:hover {
  background-color: #F28FC5;
}
.navbar-toggle::before {
  -webkit-transform: translateY(-20px);
  -moz-transform: translateY(-20px);
  transform: translateY(-20px);
}
.navbar-toggle::after {
  -webkit-transform: translateY(20px);
  -moz-transform: translateY(20px);
  transform: translateY(20px);
}
.cross {
  background-color: transparent;
  color: #414042;
}
.cross::before,
.cross::after {
  width: 50%;
}
.cross::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}
.cross::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
#splash-page {
  background-color: #fff;
}
#splash-page img {
  width: 100%;
}
#my-work .well-effect {
  position: relative;
  padding: 0;
  overflow: hidden;
  border: 4px solid #414042;
  cursor: pointer;
}
#my-work .well-effect img {
  width: 100%;
  -moz-transition: all .5s ease;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}
#my-work .well-effect h2 {
  width: 100%;
  display: block;
  position: absolute;
  bottom: 0;
  margin: 0;
  padding: 12px 0 10px;
  background-color: #414042;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.15em;
  color: #F28FC5;
  letter-spacing: 2px;
  text-shadow: 0px 2px 2px #000000;
}
#my-work .well-effect:hover h2 {
  height: 100%;
  padding: 30% 0 0;
  background-color: rgba(65, 64, 66, 0.92);
}
#my-work .well-effect:hover img {
  -moz-transform: scale(1.4) rotate(15deg);
  -webkit-transform: scale(1.4) rotate(15deg);
  -o-transform: scale(1.4) rotate(15deg);
  transform: scale(1.4) rotate(15deg);
}
#about-me h1 {
  border-top: 1px solid #DADADA;
}
#about-me .about-top,
#about-me .about-content {
  max-width: 570px;
  margin: 0 auto;
  padding: 0;
}
#about-me .about-content {
  height: 480px;
  overflow: hidden;
  padding: 20px 0 0;
  border-top: 1px solid #C5C5C5;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
#about-me .about-content .about-pre-content {
  overflow: hidden;
  height: 100%;
  padding: 100px 0 0;
  transition: all 0.05s ease-in-out;
  -webkit-transition: all 0.05s ease-in-out;
  -moz-transition: all 0.05s ease-in-out;
  -o-transition: all 0.05s ease-in-out;
}
#about-me .about-content p {
  color: black;
  margin: 10px auto;
  padding: 0 20px;
  text-align: left;
  letter-spacing: 0.3px;
}
#about-me .center {
  margin: 0 0 30px;
  text-align: center;
}
#about-me .center:hover .about-content {
  background-color: rgba(65, 64, 66, 0.92);
}
#about-me .center:hover p {
  color: #F28FC5;
}
#about-me .center:hover .about-pre-content {
  padding: 0;
  height: 0;
}
#about-me .center .about-top {
  padding: 40px 0 0;
  border-top: 1px solid #E7E7E7;
  border-right: 1px solid #E7E7E7;
  border-left: 1px solid #E7E7E7;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
#about-me .center .about-top img {
  height: 130px;
}
#about-me .center .about-top h3 {
  color: #F28FC5;
  font-size: 1.15em;
  border-bottom: 5px solid #5CC1B1;
  padding: 0 0 10px;
  margin: 20px 0 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
}
#work-with-me {
  color: white;
  text-align: center;
  padding: 0 25px;
  /* Kozakura */
  /* label {
    background-color: white;
    color: #F70864;
    font-size: 1.3em;
    margin-bottom: -10px;
    padding: 15px 5px 8px;
    width: 180px;
  } */
  /* input.form-control, textarea {
    border: 3px solid #57C1B0;
    border-radius: 0px;
    color: white;
    background-color: transparent;
    text-align: center;
    padding: 30px 20px 20px;
  } */
}
#work-with-me h1 {
  border-top: 1px solid #DADADA;
}
#work-with-me .input {
  position: relative;
  z-index: 1;
  display: inline-block;
  margin: 1em;
  max-width: 350px;
  width: calc(98%);
  vertical-align: top;
}
#work-with-me .input__field {
  position: relative;
  display: block;
  float: right;
  padding: 0.8em;
  width: 60%;
  kborder: none;
  border-radius: 0;
  background: #f0f0f0;
  color: #aaa;
  font-weight: 400;
  font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-appearance: none;
  /* for box shadows to show on iOS */
}
#work-with-me .input__field:focus {
  outline: none;
}
#work-with-me .input__label {
  display: inline-block;
  float: right;
  padding: 0 1em;
  width: 40%;
  color: #696969;
  font-weight: bold;
  font-size: 70.25%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#work-with-me .input__label-content {
  position: relative;
  display: block;
  padding: 1.6em 0;
  width: 100%;
}
#work-with-me .graphic {
  position: absolute;
  top: 0;
  left: 0;
  fill: none;
}
#work-with-me .icon {
  color: #ddd;
  font-size: 150%;
}
#work-with-me .input--kozakura {
  overflow: hidden;
  padding-bottom: 1em;
}
#work-with-me .input__field--kozakura {
  padding: 0.25em 0.5em;
  margin-top: 1.25em;
  width: 100%;
  background: transparent;
  color: #2F3238;
  font-size: 1.55em;
  opacity: 0;
}
#work-with-me .input__label--kozakura {
  width: 100%;
  text-align: left;
  position: absolute;
  top: 1em;
  pointer-events: none;
  overflow: hidden;
  padding: 0 0.25em;
  -webkit-transform: translate3d(1em, 2.75em, 0);
  transform: translate3d(1em, 2.75em, 0);
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}
#work-with-me .input__label-content--kozakura {
  color: #A4A5A6;
  padding: 0.4em 0 0.25em;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}
#work-with-me .input__label-content--kozakura::after {
  content: attr(data-content);
  position: absolute;
  font-weight: 800;
  top: 100%;
  left: 0;
  height: 100%;
  width: 100%;
  color: #fff;
  padding: 0.25em 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.85em;
}
#work-with-me .graphic--kozakura {
  fill: #494E57;
  pointer-events: none;
  top: 1em;
  bottom: 0px;
  height: 4.5em;
  z-index: -1;
  -webkit-transition: -webkit-transform 0.7s, fill 0.7s;
  transition: transform 0.7s, fill 0.7s;
  -webkit-transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
  transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
}
#work-with-me .input__field--kozakura:focus,
#work-with-me .input--filled .input__field--kozakura {
  -webkit-transition: opacity 0s 0.35s;
  transition: opacity 0s 0.35s;
  opacity: 1;
}
#work-with-me .input__field--kozakura:focus + .input__label--kozakura,
#work-with-me .input--filled .input__label--kozakura {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
#work-with-me .input__field--kozakura:focus + .input__label--kozakura .input__label-content--kozakura,
#work-with-me .input--filled .input__label-content--kozakura {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}
#work-with-me .input__field--kozakura:focus ~ .graphic--kozakura,
#work-with-me .input--filled .graphic--kozakura {
  fill: #fff;
  -webkit-transform: translate3d(-66.6%, 0, 0);
  transform: translate3d(-66.6%, 0, 0);
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .navbar {
    text-align: center;
  }
  .navbar ul.navbar-nav {
    display: inline;
    float: none;
  }
  .navbar ul.navbar-nav li {
    display: inline;
    float: none;
  }
  .navbar ul.navbar-nav li:hover {
    background-color: transparent;
  }
  .navbar ul.navbar-nav li a {
    display: inline;
    float: none;
    line-height: 48px;
    font-size: 1.3em;
  }
  .navbar .collapse {
    display: block;
  }
  .navbar .navbar-brand {
    display: none;
  }
  .nav li {
    background-color: transparent;
  }
}
@media screen and (min-width: 992px) {
  section .center {
    width: 50%;
  }
}
@media screen and (min-width: 1400px) {
  section .center {
    width: 25%;
  }
}
