.section-h1 {
  background: url('/images/brush-small.png') no-repeat center center;
  background-size: contain;
  margin: 20px 0 30px;
  font-size: 1.5em;
  text-align: center;
  line-height: 3.5em;
  color: #fff;
}
.section-h1-small {
  background: url('/images/brush.png') no-repeat center center;
  background-size: contain;
  font-size: 2.5em;
  line-height: 2.5em;
}
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
body {
  padding: 0;
}
.modal-open {
  overflow: auto;
}
#navbar {
  border-radius: 0;
}
.nav li {
  margin: 0.2em 0;
  background-color: #585759;
  text-align: center;
}
.nav li:hover {
  background-color: #636363;
}
.navbar-toggle {
  float: left;
  margin-left: 15px;
  border: 0;
  border-radius: 0;
  color: #FFF;
}
.navbar-toggle::before,
.navbar-toggle::after {
  position: absolute;
  width: 100%;
  left: 0;
  top: 50%;
  height: 2px;
  margin-top: -1px;
  background: #FFF;
  content: '';
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  -moz-transition: -moz-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  pointer-events: none;
}
.navbar-toggle::before {
  -webkit-transform: translateY(-20px);
  -moz-transform: translateY(-20px);
  transform: translateY(-20px);
}
.navbar-toggle::after {
  -webkit-transform: translateY(20px);
  -moz-transform: translateY(20px);
  transform: translateY(20px);
}
.cross {
  background-color: transparent;
  color: #414042;
}
.cross::before,
.cross::after {
  width: 50%;
}
.cross::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}
.cross::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
#splash-page {
  background-color: #fff;
}
#splash-page img {
  width: 100%;
}
#my-work h1 {
  background: url('/images/brush-small.png') no-repeat center center;
  background-size: contain;
  margin: 20px 0 30px;
  font-size: 1.5em;
  text-align: center;
  line-height: 3.5em;
  color: #fff;
}
#my-work .well {
  padding: 0;
}
#my-work .well img {
  width: 100%;
}
#my-work .well h2 {
  text-align: center;
  display: none;
}
#about-me h1 {
  background: url('/images/brush-small.png') no-repeat center center;
  background-size: contain;
  margin: 20px 0 30px;
  font-size: 1.5em;
  text-align: center;
  line-height: 3.5em;
  color: #fff;
}
#about-me .center {
  margin: 6em 0;
  text-align: center;
}
#about-me .center img {
  height: 130px;
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .navbar {
    text-align: center;
  }
  .navbar ul.navbar-nav {
    display: inline;
    float: none;
  }
  .navbar ul.navbar-nav li {
    display: inline;
    float: none;
  }
  .navbar ul.navbar-nav li:hover {
    background-color: transparent;
  }
  .navbar ul.navbar-nav li a {
    display: inline;
    float: none;
    line-height: 50px;
  }
  .navbar .collapse {
    display: block;
  }
  .navbar .navbar-brand {
    display: none;
  }
  .nav li {
    background-color: transparent;
  }
  #my-work h1 {
    background: url('/images/brush.png') no-repeat center center;
    background-size: contain;
    font-size: 2.5em;
    line-height: 2.5em;
  }
  #my-work .well h2 {
    display: block;
    margin: 0;
    padding: 1em 0 0.4em;
    background-color: #414042;
    text-transform: uppercase;
    font-size: 1.5em;
    color: #fff;
  }
  #about-me h1 {
    background: url('/images/brush.png') no-repeat center center;
    background-size: contain;
    font-size: 2.5em;
    line-height: 2.5em;
  }
}
#work-with-me {
  background-color: gray;
  color: white;
  text-align: center;
  padding: 50px 25px;
}
#work-with-me h1 {
  margin: 50px auto;
}
#work-with-me label {
  background-color: white;
  color: #F70864;
  font-size: 1.3em;
  margin-bottom: -10px;
  padding: 15px 5px 8px;
  width: 180px;
}
#work-with-me input.form-control,
#work-with-me textarea {
  border: 3px solid #57C1B0;
  border-radius: 0px;
  color: white;
  background-color: transparent;
  text-align: center;
  padding: 30px 20px 20px;
}
