.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
body {
  padding: 0;
}
/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}
/* Custom page footer */
.footer {
  background-color: #555;
  padding-top: 40px;
  padding-bottom: 60px;
  color: #fff;
}
.footer .nav {
  font-size: 1.5em;
}
.footer .nav a,
.footer .nav:visited {
  color: #fff;
}
.footer .nav a:hover,
.footer .nav:visited:hover,
.footer .nav a:focus,
.footer .nav:visited:focus,
.footer .nav a:active,
.footer .nav:visited:active {
  color: #FF7E00;
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .navbar .collapse {
    display: block;
  }
  /* Remove the padding we set earlier */
  .header,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
}
