
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

.extra-margin-top {
  // This class is for when the nav gets its fixed-class
  // preventing the content below to "fall up" when it happens.
  margin-top: 70px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .navbar {
    text-align: center;

    ul.navbar-nav {
      display: inline;
      float: none;
      li {
        display: inline;
        float: none;
        a {
          display: inline;
          float: none;
          line-height: 50px;
        }
      }
    }

    .collapse {
      display: block;
    }
    .navbar-brand {
      display: none;
    }
  }
}

/* First page: Splash Page */
#splash-page {
  min-height: 100%;
  min-height: 100vh;
  background-color: #eee;

  #splash-inner {
    position: absolute;
    top: 50%;
    height: 200px;
    width: 100%;
    text-align: center;
    margin-top: -100px;
  }
}
