<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Trish Designer</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel='stylesheet' href='bower_components/components-font-awesome/css/font-awesome.css' />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/mantra.css -->
    <link rel="stylesheet" href="styles/bootstrap.css">
    <link rel="stylesheet" href="styles/animate.min.css">
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
    <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
  </head>
  <body ng-app="trishApp" ng-controller="MainCtrl as ctrl">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!--
    /**
     * Section 1
     */ -->
    <div id="splash-page">
      <div class="profile-photo"><img src="images/profile-photo.png" alt="Profile photo"></div>
      <div class="logo"><img src="images/logo.png" alt="logo"></div>
    </div>

    <!--
    /**
     * Modal template
     */ -->
    <script type="text/ng-template" id="myModalContent.html">
      <div class="modal-header">
        <span class="close fa fa-close fa-lg pull-right" ng-click="close()"></span>
        <h3 class="modal-title">{{ title }}</h3>
      </div>
      <div class="modal-body">
        <div>
          <uib-carousel>
            <uib-slide ng-repeat="slide in slides" active="slide.active">
              <img ng-src="{{slide.image}}" style="margin:auto;">
              <div class="carousel-caption">
                <h4>Slide {{$index}}</h4>
                <p>{{slide.text}}</p>
              </div>
            </uib-slide>
          </uib-carousel>
        </div>
      </div>
    </script>

    <!--
    /**
     * Navbar
     *
     */ -->
    <div ng-controller="NavigationCtrl as nav">
      <!--
       /**
       *
       * This element is for handling scroll and nav correlations.
       */ -->
      <div id="anchorBeginIsScrolledDown" ng-class="{'navbar-equal-height-fix': nav.isScrolledDown}"></div>
      <!--
      /**
       * Bootstrap navbar component
       */ -->
      <!-- Add your site or application content here -->
      <nav id="navbar" class="navbar navbar-inverse" ng-class="{'navbar-fixed-top': nav.isScrolledDown}">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-class="{'cross': !nav.isCollapsed}" ng-click="nav.toggleNav()">MENU</button>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <!-- <div collapse="nav.isCollapsed" id="navbarNav"> -->
          <div collapse="nav.isCollapsed">
            <ul class="nav navbar-nav">
              <li>
                <a du-smooth-scroll du-scrollspy offset="70" ng-href="#my-work" ng-click="nav.toggleNav(true)">my work</a>
              </li>
              <li>
                <a du-smooth-scroll du-scrollspy offset="70" ng-href="#about-me" ng-click="nav.toggleNav(true)">about me</a>
              </li>
              <li>
                <a du-smooth-scroll du-scrollspy offset="70" ng-href="#work-with-me" ng-click="nav.toggleNav(true)">work with me</a>
              </li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>

    </div>

    <!--
    /**
     * Section 2
     */ -->
    <section id="my-work" class="container-fluid">
      <div class="text-center wow fadeInUp" data-wow-duration="1200ms" data-wow-delay="100ms">
        <h1>my work</h1>
      </div>
      <div class="row">
        <div class="col-md-3 col-sm-6 center">
          <div class="well well-effect" trish-modal ng-click="ModalCtrl.openModal('mywork-websites')">
            <img src="/images/mywork-websites.png" alt="">
            <h2>websites</h2>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 center">
          <div class="well well-effect" trish-modal ng-click="ModalCtrl.openModal('mywork-docs')">
            <img src="/images/mywork-docs.png" alt="">
            <h2>design documents</h2>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 center">
          <div class="well well-effect" trish-modal ng-click="ModalCtrl.openModal('mywork-graphics')">
            <img src="/images/mywork-graphics.png" alt="">
            <h2>graphics</h2>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 center">
          <div class="well well-effect" trish-modal ng-click="ModalCtrl.openModal('mywork-other')">
            <img src="/images/mywork-other.png" alt="">
            <h2>other</h2>
          </div>
        </div>
      </div>
    </section>

    <!--
    /**
     * Section 3
     */ -->
    <section id="about-me" class="container-fluid">
      <div class="text-center wow fadeInUp" data-wow-duration="1200ms" data-wow-delay="100ms">
        <h1>about me</h1>
      </div>
      <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12 center">
          <div class="about-top">
            <img src="/images/about-me.png" alt="about-me">
            <h3>about me</h3>
          </div>
          <div class="about-wrapper">
            <div class="about-pre-content">
              <p>“With out the experience, life is meaningless."</p>
              <p>- Me</p>
            </div>
            <div class="about-content">
              <img class="about-content-image" src="/images/about-me-about-me.png" alt="about-me">
              <div class="text">
                <p>I enjoy everything artistic! My engine runs off of excitement. I enjoy practicing new things and sharpening my existing skills on the daily. I like to stay busy and up to date on the latest trends and technology. I am a designer with many styles and I aim to please. My passion in design, science, technology, and human interaction has been fulfilled with the career path I have chosen, and I am excited for whats to come ahead.</p>
                <p>I enjoy spending quality time w/ my kids and family, going to the beach, watching TED, admiring street art, designing graphic T-shirts, turning dreams into reality, and impacting others with a positive change.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 center">
          <div class="about-top">
            <img src="/images/process.png" alt="my process">
            <h3>my process</h3>
          </div>
          <div class="about-wrapper">
            <div class="about-pre-content">
              <p>“There is a method to my madness.”</p>
              <p>- Shakespeare</p>
            </div>
            <div class="about-content">
              <img class="about-content-image" src="/images/about-me-process.png" alt="about-me">
              <div class="text">
                <p>I take whatever concept I have at hand and then I research my audience, I start off with sketching wireframes, once the concept is in play I put my design into a digital mockup and work on the interactions and over all visual design, I then create a live prototype to deliver the project. Once the completed project goes live I gather the data and analytics from the users interaction and I then make any modifications to the design based on facts and I make sure all data and the content is all correlating together for the SEO.</p>
                <p>TADA you got yourself a beautiful master piece after a boat load of expresso shots.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 center">
          <div class="about-top">
            <img src="/images/experience.png" alt="my experience">
            <h3>my experience</h3>
          </div>
          <div class="about-wrapper">
            <div class="about-pre-content">
              <p>“Its not just what it looks like and feels like, its how it works.”</p>
              <p>- Steve Jobs</p>
            </div>
            <div class="about-content">
              <img class="about-content-image" src="/images/about-me-experience.png" alt="about-me">
              <div class="text">
                <p>*Worked for in the Government and Legislative department at the Los Angeles County RRCC as Web Designer. I redesigned their website, created eblasts, designed numerous amount of print material for the Presidential elections, and I also did mockups of the new voting system.</p>
                <p>*I worked for Implant Direct in the IT web department as the head UX/UI designer for their global international web team. I redesigned their marketing site to be responsive, I redesigned their ecommerce site, I also designed a parallax landing page, newsletters, and maintained 9 of their international websites.</p>
                <p>*I turned my hobby of designing and printing into my very own printing and design company.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 center">
          <div class="about-top">
            <img src="/images/education.png" alt="my education">
            <h3>my education</h3>
          </div>
          <div class="about-wrapper">
            <div class="about-pre-content">
              <p>“Be happy, but never satisfied.”</p>
              <p>- Bruce Lee</p>
            </div>
            <div class="about-content">
              <img class="about-content-image" src="/images/about-me-education.png" alt="about-me">
              <div class="text">
                <p>*I have a degree in Web Interactive Media Design from The Art Institute of California.</p>
                <p>*I am certified in UX design from Nielsen Norman Group.</p>
                <p>*Lynda.com is always my go to for current on the fly education.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--
    /**
     * Contact
     */ -->
    <section id="work-with-me" class="container-fluid">
      <div class="text-center wow fadeInUp" data-wow-duration="1200ms" data-wow-delay="100ms">
        <h1>work with me</h1>
      </div>
      <form class="container" ng-submit="ctrl.contact()">
        <span class="input input--kozakura">
          <input class="input__field input__field--kozakura" type="text" id="input-1" ng-model="ctrl.form.name" ng-class="{active: ctrl.form.name}" required>
          <label class="input__label input__label--kozakura" for="input-1">
            <span ng-hide="ctrl.form.name" class="input__label-content input__label-content--kozakura" data-content="Name">Name</span>
          </label>
          <svg ng-hide="ctrl.form.name" class="graphic graphic--kozakura" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none">
            <path d="M1200,9c0,0-305.005,0-401.001,0C733,9,675.327,4.969,598,4.969C514.994,4.969,449.336,9,400.333,9C299.666,9,0,9,0,9v43c0,0,299.666,0,400.333,0c49.002,0,114.66,3.484,197.667,3.484c77.327,0,135-3.484,200.999-3.484C894.995,52,1200,52,1200,52V9z"></path>
          </svg>
        </span>
        <span class="input input--kozakura">
          <input class="input__field input__field--kozakura" type="email" id="input-2" ng-model="ctrl.form.email" ng-class="{active: ctrl.form.email}" required>
          <label class="input__label input__label--kozakura" for="input-2">
            <span ng-hide="ctrl.form.email" class="input__label-content input__label-content--kozakura" data-content="Email">Email</span>
          </label>
          <svg ng-hide="ctrl.form.email" class="graphic graphic--kozakura" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none">
            <path d="M1200,9c0,0-305.005,0-401.001,0C733,9,675.327,4.969,598,4.969C514.994,4.969,449.336,9,400.333,9C299.666,9,0,9,0,9v43c0,0,299.666,0,400.333,0c49.002,0,114.66,3.484,197.667,3.484c77.327,0,135-3.484,200.999-3.484C894.995,52,1200,52,1200,52V9z"></path>
          </svg>
        </span>
        <span class="input input--kozakura">
          <input class="input__field input__field--kozakura" type="text" id="input-3" ng-model="ctrl.form.website" ng-class="{active: ctrl.form.website}">
          <label class="input__label input__label--kozakura" for="input-3">
            <span ng-hide="ctrl.form.website" class="input__label-content input__label-content--kozakura" data-content="Website">Website</span>
          </label>
          <svg ng-hide="ctrl.form.website" class="graphic graphic--kozakura" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none">
            <path d="M1200,9c0,0-305.005,0-401.001,0C733,9,675.327,4.969,598,4.969C514.994,4.969,449.336,9,400.333,9C299.666,9,0,9,0,9v43c0,0,299.666,0,400.333,0c49.002,0,114.66,3.484,197.667,3.484c77.327,0,135-3.484,200.999-3.484C894.995,52,1200,52,1200,52V9z"></path>
          </svg>
        </span>
        <hr>
        <button type="submit" class="btn btn-default" ng-submit="ctrl.contact()" ng-disabled="ctrl.formSent">{{ ctrl.formSent ? 'Sent!' : 'Submit' }}</button>
      </form>

    </section>

    <!--
    /**
     * Google Analytics key will be set upon grunt deploy,
     * grunt replace is configured to find the pattern @@gaKey
     * and replace it with the current configs gaKey.
     */ -->
    <script>
     !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
     (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
     r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
     }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
     ga('create', '@@gaKey');
     ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/wow/dist/wow.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/angular-mocks/angular-mocks.js"></script>
    <script src="bower_components/angular-scroll/angular-scroll.js"></script>
    <script src="bower_components/bonzo/bonzo.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/services/config.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/modalinstance.js"></script>
    <script src="scripts/controllers/navigation.js"></script>
    <script src="scripts/directives/trishModal.js"></script>
    <script src="scripts/services/contact.js"></script>
    <script src="scripts/services/alert.js"></script>
    <!-- endbuild -->

</body>
</html>
