<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/components-font-awesome/css/font-awesome.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/mantra.css -->
    <link rel="stylesheet" href="styles/bootstrap.css">
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="trishApp" ng-controller="MainCtrl as ctrl">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div id="splash-page"><!-- section 1 -->
      <img src="/images/splash.png" alt="hero">
    </div>

    <div id="beginIsScrolledDown"></div>

    <!-- Add your site or application content here -->
    <nav id="navbar" class="navbar navbar-inverse" ng-class="{'navbar-fixed-top': ctrl.isScrolledDown}">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" ng-class="{'cross': !ctrl.isCollapsed}" ng-click="ctrl.toggleNav()">MENU</button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div collapse="ctrl.isCollapsed">
          <ul class="nav navbar-nav">
            <li ng-class="{active: $location.path()=='my-work'}">
              <a du-smooth-scroll du-scrollspy offset="70" ng-href="#my-work" ng-click="ctrl.isCollapsed = true">My WoRK</a>
            </li>
            <li ng-class="{active: $location.path()=='about-me'}">
              <a du-smooth-scroll du-scrollspy offset="70" ng-href="#about-me" ng-click="ctrl.isCollapsed = true">ABOUT me</a>
            </li>
            <li ng-class="{active: $location.path()=='work-with-me'}">
              <a du-smooth-scroll du-scrollspy offset="70" ng-href="#work-with-me" ng-click="ctrl.isCollapsed = true">work with me</a>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div class="container-fluid" id="extraMarginTop">

      <section id="my-work"><!-- section 2 -->
        <h1>My Work</h1>
        <div class="row">
          <div class="col-md-4 col-sm-6">
            <div class="well">
              <img src="/images/project1.png" alt="">
              <h2>websites</h2>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="well">
              <img src="/images/project1.png" alt="">
              <h2>design documents</h2>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="well">
              <img src="/images/project1.png" alt="">
              <h2>videos</h2>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="well">
              <img src="/images/project1.png" alt="">
              <h2>graphics</h2>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="well">
              <img src="/images/project1.png" alt="">
              <h2>research</h2>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="well">
              <img src="/images/project1.png" alt="">
              <h2>other</h2>
            </div>
          </div>
        </div>
      </section>

      <section id="about-me"><!-- section 3 -->
        <h1>About Me</h1>
        <div class="row">
          <div class="col-lg-3 col-md-6 center">
            <img src="/images/about-me.png" alt="about-me">
            <h3>about me</h3>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus modi eaque architecto officiis ea repellat perferendis voluptates. Ab voluptate ratione, ut cumque dolorum delectus blanditiis, aliquid laborum expedita atque a.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus modi eaque architecto officiis ea repellat perferendis voluptates. Ab voluptate ratione, ut cumque dolorum delectus blanditiis, aliquid laborum expedita atque a.
          </div>
          <div class="col-lg-3 col-md-6 center">
            <img src="/images/process.png" alt="my process">
            <h3>my process</h3>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto hic explicabo temporibus porro, tempore nam omnis perspiciatis est officia tempora quaerat aliquam, sit consectetur velit corrupti dolorem, eos sed necessitatibus?
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto hic explicabo temporibus porro, tempore nam omnis perspiciatis est officia tempora quaerat aliquam, sit consectetur velit corrupti dolorem, eos sed necessitatibus?
          </div>
          <div class="col-lg-3 col-md-6 center">
            <img src="/images/experience.png" alt="my experience">
            <h3>my experience</h3>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum blanditiis, quas explicabo, optio at neque saepe. Reiciendis, nam, debitis. Fugit suscipit numquam, voluptatum similique, explicabo ipsa sed obcaecati odit ipsum.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum blanditiis, quas explicabo, optio at neque saepe. Reiciendis, nam, debitis. Fugit suscipit numquam, voluptatum similique, explicabo ipsa sed obcaecati odit ipsum.
          </div>
          <div class="col-lg-3 col-md-6 center">
            <img src="/images/education.png" alt="my education">
            <h3>my education</h3>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime corporis odio sint, culpa provident eius ea molestiae quod, assumenda ipsa, incidunt minima recusandae repellat, quis. Animi voluptate odit aperiam quibusdam!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime corporis odio sint, culpa provident eius ea molestiae quod, assumenda ipsa, incidunt minima recusandae repellat, quis. Animi voluptate odit aperiam quibusdam!
          </div>
        </div>
      </section>

      <section id="work-with-me">
        <h1>Contact</h1>
        <div class="row">
          <div class="col-sm-6">
            <p>Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum</p> <hr style="border-width:20px;"><hr style="border-width:20px;">
            <blockquote><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p></blockquote>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
          </div>
          <div class="col-sm-6">
            <p>Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum</p> <hr style="border-width:20px;"><hr style="border-width:20px;">
            <p>Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum</p> <hr style="border-width:20px;"><hr style="border-width:20px;">
            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
            <blockquote class="blockquote-reverse">
            <p>Lorem ipsum...</p>
            </blockquote>
        </div>

      </section>

    </div>

    <hr style="border-width:20px;">
    <hr style="border-width:20px;">
    <hr style="border-width:20px;">

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', '@@gaKey');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/angular-scroll/angular-scroll.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/services/config.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <!-- endbuild -->

</body>
</html>
